.calendar-header {
  margin-top: 0;
}
.pdf-iframe {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-top: 120px;
}
.top-iframe {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  width: 800px;
  justify-content: space-between;
  align-items: center;
}
.top-iframe button {
  width: 120px;
  height: 30px;
  background-color: #385f4c;
  cursor: pointer;
  color: white;
  border-radius: 30px;
}
.set-iframe {
  width: 800px;
  height: 1000px;
}
@media screen and (max-width: 850px) {
  .top-iframe {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  .set-iframe {
    width: 80vw;
    height: 100px;
  }
  body {
    overflow-x: hidden;
  }
}
