.allcontent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.doc-menu {
  align-content: center;
  padding: 1rem;
}
.row-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row {
  display: flex;
}
.top-left {
  border-radius: 25px 0 0 0;
  background-image: url(../assets/คอส.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.top-right {
  border-radius: 0 25px 0 0;
  background-image: url(../assets/เล่มหลักสูตร.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.bot-left {
  border-radius: 0 0 0 25px;
  background-image: url(../assets/ปฏิทิน.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.bot-right {
  border-radius: 0 0 25px 0;
  background-image: url(../assets/ช่องทางการติดต่อ.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.column {
  margin: 4px;
  background-color: rgb(209, 206, 206);
  width: 400px;
  height: 200px;
  text-align: center;
}

@media screen and (max-width: 650px) {
  .allcontent {
    z-index: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  .doc-menu {
    width: 100%;
    height: 100%;
    align-content: center;
    padding: 2rem 1rem 5rem 1rem;
  }
  .row-wrapper {
    display: block;
  }
  .row {
    flex-direction: column;
  }
  .top-left {
    border-radius: 25px 25px 0 0;
  }
  .top-right {
    border-radius: 0 0 0 0;
  }
  .bot-left {
    border-radius: 0 0 0 0;
  }
  .bot-right {
    border-radius: 0 0 25px 25px;
  }

  .column {
    width: 100%;
    height: 1005;
    text-align: center;
  }
  .background-opacity {
    width: 100%;
    height: 170px;
  }
}
