.writereview-container {
  display: flex;
  height: 100%;
}
.writereview-wrapper {
  flex-grow: 99;
}
.write-review-container {
  background-color: #fff7dc;
  border: none;
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  margin: 1rem 2rem;
  color: #282828;
}
.textarea-field {
  width: 100%;
  height: 200px;
  padding: 15px 25px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  border: none;
  background-color: #d9d9d9;
  font-size: 16px;
  resize: none;
}

@media screen and (max-width: 720px) {
  .header-container-p {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
