.sidenav {
  position: sticky;
  top: 0;
  height: 100%;
  width: 18rem;
  scrollbar-color: #3d6546 #81bfa1;
  background-color: #81bfa1;
  display: flex;
  flex-direction: column;
  border-radius: 1rem 1rem 0rem 0rem;
  padding: 0;
  margin: 0.7rem 0 0.7rem 0.7rem;
}

.side-w-btn {
  position: relative;
  display: flex;
  height: 100%;
}
.btn-wrapper {
  position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
}
.main-buttons {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #1e2027;
}
.main-buttons .categories {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 8px 52px;
  box-sizing: border-box;
}

.main-buttons li .fa {
  position: absolute;
  left: 12px;
  border: none;
  background-color: #c5f8d1;
  border-radius: 50px;
  width: 20px;
  height: 20px;
}

.main-buttons li:hover,
.main-buttons li:active,
.main-buttons li:focus {
  border-radius: 10px;
  background-color: #548a60;
  cursor: pointer;
}

.main-buttons li:hover .hidden {
  width: 15rem; /* Adjust this value as needed */
}

.hidden {
  width: 0;
  height: 100%;
  padding: 0px 0px;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  list-style-type: none;
  background-color: #548a60;
  transition: width 0.3s ease; /* Added transition property */
  border-radius: 0 0 1rem 0;
}

.search {
  width: 100%;
  height: auto;
  overflow: auto;
  position: relative;
  display: flex;
  padding: 1rem 0.5rem;
  justify-content: center;
  margin: 0;
}
.searchTerm {
  width: 13rem;
  border: none;
  border-right: none;
  padding: 5px;
  height: auto;
  font-size: 16px;
  border-radius: 5rem;
  outline: none;
  color: #333433;
}
.searchButton {
  width: 2rem;
  height: 2rem;
  border-radius: 5rem;
  border: none;
  background-color: #3d6546;
  padding: 0.5rem;
  margin: 0 0.5rem;
  cursor: pointer;
}
.searchButton img {
  width: 1rem;
  height: 1rem;
}

.choice-wrapper {
  overflow-y: scroll;
  scrollbar-color: #3d6546 #81bfa1;
}

.choice-wrapper li {
  text-transform: none;
  color: aliceblue;
  list-style-type: none;
  font-weight: 600;
  box-sizing: border-box;
  color: aliceblue;
  padding: 10px 0px 10px 20px;
  margin: 0px;
  font-size: 1rem;
}
.choice-wrapper li:hover,
.choice-wrapper li:active,
.choice-wrapper li:focus {
  border-radius: 10px;
  background-color: #3d6546;
}
.sub-hidden li {
  text-transform: none;
  color: aliceblue;
  list-style-type: none;
  font-weight: 500;
  box-sizing: border-box;
  color: aliceblue;
  padding: 10px 0px;
  margin: 0px;
  font-size: 0.9rem;
}
.sub-hidden li:hover {
  background-color: #548a60;
}
.sub-hidden {
  padding: 1rem;
}
.searchSubject {
  width: auto%;
  height: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
}
.searchSubject::before {
  margin-left: 5px;
  content: "\2022";
  color: black;
  font-size: 1.5em;
  margin-right: 8px;
}
.searchSubject:hover::before {
  color: white;
}
.searchSubject:hover {
  background-color: #548a60;
  color: white;
}
.choice-wrapperNew {
  overflow-y: scroll;
  scrollbar-color: #3d6546 #81bfa1;
}
.notFound {
  text-align: center;
}
.hide-btn {
  z-index: 1;
  display: block;
  height: 50px;
  background-color: #81bfa1;
  border: none;
  margin: 2rem 0 0.7rem;
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  .sidebar {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  .sidenav {
    display: none;
    height: 100%;
    padding: 0;
    margin: 0.7rem 0 0.7rem 0.7rem;
  }
  .hide-btn {
    display: block;
    height: 50px;
    background-color: #81bfa1;
    border: none;
    margin: 2rem 0 0.7rem;
    cursor: pointer;
  }
  .side-w-btn {
    position: absolute;
    display: flex;
    height: 100%;
  }
}
